@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.hide{
  display: none;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #DEF5FFFF ; 
    border: 2px solid black; 
    padding: 10px;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    color: black;
    font-size: 18px;
    font-weight: bold;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media screen and (max-width:576px){
  .hide{
    display: block;
  }
  
}
.acontainer{
  display: flex;
  justify-content: space-between;
  gap: 186px;
  margin-top: 20px;
  align-items: center;

}
.log{
  display: flex;
  align-items: center;

  margin-left: 141px;
  margin-top: 20px;
}
.s{
  font-size: 32px;
  font-weight: bold;
  color: #111111FF;
}
.menu{
  display: flex;
  
}
.list{
  text-decoration: none;
  margin-right: 32px;
}
.menubar{
  list-style: none;
}
.Ab{
  color: #01ACFDFF;
  font-size: 20px;
  font-weight: bold;
}
.F{
  color: #05D4DFFF;
  font-size: 20px;
  font-weight: 500;
}
.Ad{
  color: #5D58EFFF;
  font-size: 20px;
  font-weight: 500;
}
.H{
  color: #FEA301FF;
  font-size: 20px;
  font-weight: bold;
}
.btn1{
  height: 50px;
  width: 197px;
  border: none;
  border-radius: 12px;
  background-color: #FEA301FF;
  margin-right: 141px;
  margin-top: 20px;
}
.C{
  color: #FFFFFFFF;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 60.5px ;
}
.hamburger-icon{
  display: none;
  cursor: pointer;
}
.hamburger-icon img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
#menu-toggle{
  display: none;
}
.btn1:hover{
  background-color: #F2E8FFFF;
}
@media screen and (max-width: 576px){
  .menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: -30px;
   background-color: #F2E8FFFF;
   border: 2px solid  #F2E8FFFF;

  }
  #menu-toggle:checked + .hamburger-icon + .menu {
    display: flex;
  }
  .hamburger-icon{
    display: block;
  }
  .menubar:hover{
    background-color: #111111;
    
  }

  .s{
    display: none;
  }
  .btn1{
    display: none;
  }
  .acontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FEA301FF;
    
    
  }
  .log{
    margin-left: 16px;
  }
  .menubar{
    margin-bottom: 50px;
  }
}


.section2{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.vision{
  margin: 120px 50px 122px 141px;
  
}
.hero {
  margin: 0.5px 127px 0 0;
}
.Em{
  color: #FEA301FF;
  font-weight: bold;
  font-size: 56px;
}
.stu{
  color: #000000FF;
  font-weight: bold;
  font-size: 56px;
}
.to{
  color: #01ACFDFF;
  font-weight: bold;
  font-size: 56px;
}
.wi{
  color: #000000FF;
  font-weight: 400;
  font-size: 2opx;
}
.enroll{
  margin-top: 24px;
}
.btn2{
  padding: 10px 47px;
  border-radius: 12px;
  background-color: #111111FF;
  color: #FFFFFFFF ;
}
.btn2:hover{
  background-color: #FFFFFFFF;
  color: #111111;
}
.btn:hover{
color: #111111;
  
}
@media screen and (max-width: 768px){
  .section2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero{
  margin-left: 55px;
  margin-right: 27px;
  
}
.vision{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  
}
.vision{
  margin-top: 20px;
}
}
.bg-section{ background-image: url('../assets/bg.png;')
background-size: cover;
/* background-position: center;
background-repeat: no-repeat; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 20px; */
  margin-top: 0;
}
.sta{
  color: #000000FF;
  font-weight: bold;
  font-size: 46px;
}
.cube{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px 140px 200px 140px;
  gap: 29px;
}
.one{ 
  flex: 1;
  width: 368px;
  height: 477px;
  background: linear-gradient(45deg, #DEF5FFFF, #FFFFFFFF);
  border: 2px solid #DEF5FFFF;
  border-radius: 18.86px;
  padding: 53px 40px ;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
}
.two{ 
  flex: 1;
  width: 368px;
  height: 477px;
  background: linear-gradient(45deg, #FFF4DCFF, #FFFFFFFF);
  border: 2px solid #FFF4DCFF;
  border-radius: 18.86px;
  padding: 53px 40px ;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
}
.three{ 
  flex: 1;
  width: 368px;
  height: 477px;
  background: linear-gradient(45deg, #EEE1FFFF, #FFFFFFFF);
  border: 2px solid #F2E8FFFF;
  border-radius: 18.86px;
  padding: 53px 40px ;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
}
.btn{
  all:unset ;
}
.blue{
  color: #64C8FFFF;
  font-weight: bold;
  font-size:15px;
}
.gold{
  color: #F0AA00FF;
  font-weight: bold;
  font-size:15px;
}
.purple{
  color: #8700FFFF;
  font-weight: bold;
  font-size:15px;
}
.fun{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   gap: 10px;
  /* margin: 80px 710px 60px 515px; */ 
}
.symbol{  
  font-weight: 600;
  font-size: 37px;
  padding-top: 5px;
  /* align-items: center; */
  /* text-align: center; */
  height: 60px;
  width: 60px;
  background-color: #FEA301FF;
  border: #FEA301FF ;
  border-radius: 30px;
  color: #FFFFFFFF ;
}
@media screen and (max-width: 576px){
  .bg-section{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cube{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    gap: 12px;
  }
.fun{
    display: none;
}
.one{
margin-top: 20px;}
}
.our-stories-container {
    background-position: top left bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%), url("../assets/bg.png");
}

.our-stories-title{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.our-stories-content {
    width: 90%;
    margin: auto;
    padding-top: 4rem;
}

.our-stories-parent-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
}

.our-stories-left-div {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.our-stories-left-div:hover {
    transform: scale(1.03);
    box-shadow: 0px .3rem 1.2rem rgba(0, 0, 0, 0.2);
}

.our-stories-left-div > img {
    width: 100%;
    border-radius: .8rem .8rem 0 0;
    margin-bottom: 1.2rem;
}

.our-stories-left-div > button {
    background-color: #2eade8;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    font-size: .8rem;
    cursor: pointer;
}

.our-stories-left-div > button:hover {
    background-color: #1d8ab8;
}

.our-stories-left-div > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.5rem;
    padding:0 1.5rem 0 1.5rem;
}

.our-stories-left-div > p {
    font-size: 1rem;
    color: #4d4d4d;
    line-height: 1.6;
    padding: 0 1.5rem 0 1.5rem ;
    padding-bottom: 2rem;
}

.our-stories-child-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.our-stories-child-card > div {
    border-radius: .8rem;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.our-stories-child-card > div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.our-stories-child-card > div img {
    width: 100%;
    border-radius: .8rem .8rem 0 0;
    margin-bottom: 0.5rem;
}

.our-stories-child-card >div h2 {
    padding: 0 0rem  1rem 1rem;
    padding-top: 0;
}
.chil-btn{
    padding: 0 1rem  1rem 1rem;
}

.child-btn1>button{
background: rgb(149, 178, 38);
color: rgb(255, 255, 255);
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
border: none;
padding: .2rem .5rem;
border-radius: 1rem;
position: absolute;
top: 55%;

}

.child-div-1{
    position: relative;
}



.child-btn2>button
{
    background: rgb(93, 88, 240);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border: none;
    padding: .2rem .5rem;
    border-radius: 1rem;
    position: absolute;
    top: 55%;
    
    }
    
    .child-div-2{
        position: relative;
    }
    .child-btn3>button{   
    background: rgb(149, 178, 38);
    color: rgb(255, 255, 255);
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border: none;
    padding: .2rem .5rem;
    border-radius: 1rem;
    position: absolute;
    top: 55%;
    
    }
    
    .child-div-3{
        position: relative;
    }
    
    .child-btn4>button{
    background: rgb(149, 178, 38);
    color: rgb(255, 255, 255);
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border: none;
    padding: .2rem .5rem;
    border-radius: 1rem;
    position: absolute;
    top: 55%;
    
    }
    
    .child-div-4{
        position: relative;
    }
    
.card-btn > button {
    background-color: #3CD8E8;
    color: #fff;
    border: none;
    border-radius: .8rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    position: absolute;
    left: 1.8rem;
    top: 58%;
}


.our-stories-child-card > div h2 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 1.4;
}
.card-btn{
    padding: 0 1.5rem 0 1.5rem;
}
.our-stories-btn-div{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-stories-btn{
  width: 197px;
  height: 50px;
  padding: 10px 61px;
  background-color: #111111 ;
  color: #FFFFFFFF;
  border-radius: 12px;
}
.our-stories-btn:hover{
    background-color:#FFFFFFFF;
    color: #111111;
}
@media screen and (max-width:576px) {

  .our-stories-left-div{display: none;}
  .our-stories-parent-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
   }
   .child-btn1,.child-btn2,.child-btn3,.child-btn4{
    position: relative;
    top: -15%;
    
   } 
   .our-stories-container{
    /* margin-bottom: 5px; */
   }
  }
.footer {
    background-color: #00a8ff;
    padding: 1.3rem 0;
    color: white;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
  }
  
  .section-title{
    padding-bottom: 1rem;
  }
  .footer-section {
    flex: 1;
    padding: 10px;
  }
  .logo-section {
    max-width: 300px;
  }
  .logo{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .logo-image {
    width:4rem;
    height: 4rem;
    height: auto;
  }
  .footer-title {
    font-size: 2em;
    margin: 10px 0;
  }
  
  .footer-description {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .about-section .section-title,
  .contact-section .section-title {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  .section-links {
    list-style: none;
    padding: 0;
  }
  
  .section-links .footer-link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    line-height: 2em;
    display: block;
  }
  .footer-link:hover{
    background-color: #111111;
  }
  
  .section-links .footer-link:hover {
    text-decoration: underline;
  }
  .social-links {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    display: flex;
    gap: 1rem;
    background-color: white;
    color: #00a8ff;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.2em;
    line-height: 2rem;
    text-decoration: none;
  }
  @media screen and (max-width:576px){
    .footer-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
  }